.menu-wrapper {
  background-color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 25dvw;
  height: 100dvh;
  padding: 20px 40px 20px 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-menu {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  margin: 0;
}

.nav-menu__item {
  flex-grow: 1;
  border: 3px solid white;
  border-radius: 65px;
  background: transparent;
  cursor: pointer;
  font-size: 32px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.nav-menu__item:nth-child(3n) {
  grid-column: 1 / -1; /* строка с одним пунктом */
}

.nav-menu__item_active {
  border: 3px solid #e97721;
  border-radius: 65px;
}

.nav-menu__item:hover {
  border: 3px solid #000000;
  border-radius: 65px;
  transition: all 300ms ease-out;
}

.nav-menu__logo-wrapper {
  display: block;
  width: 100%;
}

.nav-menu__logo {
  width: 100%;
}
