.process-section_card-facts {
  width: 807px;
  height: auto;
  background-color: #e97721;
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 67px;
  align-items: end;
  border: 5px solid #ffffff;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}

.process-section_card-facts_collapsed {
  background-color: #000000;
  max-height: 124px;
}

.process-section_card-facts__text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.process-section_card-facts__text .process-section_card-facts__text-description_active,
.process-section_card-facts__text .process-section_card-facts__text-title_active {
  color: #000000;
}

.process-section_card-number {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease-out;
  justify-self: end;
}

.process-section_card-number:hover {
  background-color: #e97721;
  color: #000000;
  transition: all 300ms ease-out;
}

.process-section_card-number_active {
  background-color: #ffffff;
  color: #000000;
}

.process-section_card-number_active:hover {
  background-color: #ffffff;
}

.process-section_image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
