services:
  postgres:
    image: postgres:17-alpine
    container_name: baguette-postgres
    env_file:
      - ./.env.postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    command: >
      postgres -c max_connections=200
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 10s
      start_period: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - backend-network

networks:
  backend-network:
    external: true
