services:
  backend:
    container_name: baguette-backend-dev
    build:
      context: .
      dockerfile: ./docker/dev/Dockerfile
    env_file:
      - ./.env.backend
    volumes:
      - ./app:/usr/src/app
    ports:
      - "${BACKEND_DEV_PORT:-6315}:3000"
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - backend-network

networks:
  backend-network:
    external: true
