.process-section_cards-wrapper {
  width: 100%;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 253px;
}

.process-section_card {
  height: auto;
}

.process-section_card-image {
  display: flex;
}

.process-section_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}
