.ui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 65px;
  border: 3px solid black;
  height: 65px;
  width: 380px;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-size: 32px;
  background-color: black;
  color: white;
  gap: 1rem;
}

.ui-button:hover {
  background-color: #e97721;
  border-color: #e97721;
  transition: all 300ms ease-out;
}

.ui-button:disabled {
  border: 3px solid black;
  border-radius: 65px;
  background-color: white;
  color: black;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.ui-button_full-width {
  width: 100%;
}

.ui-button__label {
  display: inline-flex;
  align-items: center;
}

.ui-button__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ui-button_loading {
  border: 3px solid black;
  pointer-events: none;
  border-radius: 65px;
  background-color: white;
  color: black;
}

.ui-button__spinner {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 999px;
  border: 3px solid black;
  border-top-color: transparent;
  animation: ui-button-spin 0.7s linear infinite;
}

@keyframes ui-button-spin {
  to {
    transform: rotate(360deg);
  }
}
