.main-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  /* width: 100%; */
  width: 75dvw;
  height: auto;
  top: 0;
  margin-left: 25dvw;
  gap: 40px;
  background-color: white;
}
