.catalog-wrapper_card {
  background-color: #e97721;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  min-width: 0;
}

.catalog-wrapper_card_goods-image {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 0;
}

.catalog-wrapper_card_goods-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-image-container {
  display: flex;
  align-self: end;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.icon-image {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.catalog-wrapper_card_description {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
}

.catalog-wrapper_card_description_text {
  display: flex;
  flex-direction: column;
}
