.process-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.process-header_image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
