.catalog-filters {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-filters__favorites-button {
  min-width: 220px;
  border: 3px solid #000000;
  flex-shrink: 0;
}

.catalog-filters__favorites-button.nav-menu__item_active {
  border-color: #e97721;
}

.catalog-filters__dropdown {
  min-width: 220px;
  flex-shrink: 0;
}
