.menu-wrapper {
  background-color: white;
  text-align: center;
  position: fixed;
  top: 20px;
  width: 480px;
  /* margin: 0 40px 170px 40px; */
  padding: 0 40px 170px 40px;
}

.nav-menu {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 194px;
}

.nav-menu__item {
  height: 65px;
  border: 3px solid white;
  border-radius: 65px;
  background: transparent;
  cursor: pointer;
  font-size: 32px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu__item:nth-child(3n) {
  grid-column: 1 / -1; /* строка с одним пунктом */
}

.nav-menu__item_active {
  border: 3px solid #e97721;
  border-radius: 65px;
}

.nav-menu__item:hover {
  border: 3px solid #000000;
  border-radius: 65px;
  transition: all 300ms ease-out;
}

.nav-menu__logo {
  display: block;
  max-width: 100%;
  margin-bottom: 194px;
}
