.personal-data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 440px;
}

.design-constructor_content-wrapper_text_double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.design-constructor_content-wrapper_text_single {
  border-bottom: 5px solid #000000;
  padding: 0px 10px 0px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
}

.filter-container_arrow {
  border-bottom: 5px solid #000000;
  border-left: 5px solid #000000;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.agreement-block {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}

.square-agreement {
  height: 30px;
  width: 30px;
  border: 5px solid #000000;
}

.favorites-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
