.process-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.process-header_image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.process-section_cards-wrapper {
  width: 100%;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 253px;
}

.process-section_card {
  background-color: #e97721;
  height: auto;
}

.process-section_card-facts {
  width: 807px;
  height: auto;
  background-color: #000000;
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 67px;
  align-items: end;
  border: 5px solid #ffffff;
}

.process-section_card-facts_text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.process-section_card-number {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center; /* горизонтальное центрирование */
  align-items: center; /* вертикальное центрирование */
}

.process-section_image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.materials-section__cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

.materials-card {
  background-color: #e97721;
  border-radius: 65px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.materials-card__image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.materials-card__cta {
  width: 100%;
}

.materials-card__content {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap: 40px;
  margin-bottom: 92px;
}

.button-position-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: auto;
}
