.filter-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto 1fr;
  gap: 40px;
}

.filter-wrapper_button {
  border-radius: 65px;
  border: 3px solid #000000;
  padding: 0px 10px 0px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
  height: 65px;
  padding: 0px 40px;
  place-items: center;
}

.filter-container_arrow {
  border-bottom: 5px solid #000000;
  border-left: 5px solid #000000;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
